@charset "utf-8";
/* CSS Document */
    body{
        margin:0;
        padding:0;
        min-width:600px;
    }
#main{ float:left; width:100%;}
	#main_body{ margin:0 210px; background:#999;height:500px;}
#left{ width:200px; height:500px; float:left; background:#F00; margin-left:-100%;}
#right{width:200px; height:500px; float:left; background:#CCC; margin-left:-200px;}